<form (ngSubmit)="onSubmit()">
    <label for="day">Select Day:</label>
    <select id="day" name="day" [(ngModel)]="selectedDay">
      <option *ngFor="let day of calendarData" [ngValue]="day"> {{ day.day_number }} {{ day.day_name }} {{ day.year }}</option>
    </select>
    <div>
      <label for="task">Choose a Task:</label>
      <select id="task" name="task" [(ngModel)]="selectedNameTask">
        <option value="Hair">Hair</option>
        <option value="Beard">Beard</option>
        <option value="All">All</option>
        <option value="Style">Style</option>
      </select>
    </div>
    <div>
        <label for="task">Choose a Task:</label>
        <select id="task" name="task" [(ngModel)]="selectedTimeTask">
          <option value="17:30">17:30</option>
          <option value="19:30">19:30</option>
          <option value="14:30">14:30</option>
          <option value="10:00">10:00</option>
        </select>
      </div>
    <div>
      <label for="user">Choose a User:</label>
      <select id="user" name="user" [(ngModel)]="selectedUser" >
        <option *ngFor="let user of users" [value]="user.id">{{ user.firstName }}</option>
      </select>
    </div>
    <button type="submit">Add Task</button>
  </form>
