<div>
<form method="post" action="" (ngSubmit)="onSave($event)" *ngIf="addMode">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" id="firstName" [(ngModel)]="firstName" required>
    <br>
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" id="lastName" [(ngModel)]="lastName" required>
    <br>
    <label for="tel">Tel</label>
    <input type="" name="tel" id="tel" [(ngModel)]="tel" required>
    <br>
    <button type="button" (click)="onClose()">Close</button>
    <button type="reset">Reset</button>
    <button type="submit">Save</button>
  </form>
  <button type="button" (click)="onAdd()" *ngIf="!addMode">Add User</button>
</div>
